# Arquivos de sistema
.DS_Store
Thumbs.db

# Diretório node_modules
node_modules/

# Arquivos de construção
#dist/
#build/

# Arquivos de log e cache
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log
.pnpm-server.log
.pid
*.pid
*.seed
*.pid.lock

# Dependências
npm-debug.log
yarn.lock
package-lock.json

# Arquivos de ambiente
.env.local
.env.development
.env.test
.env.production
.env.*.local
.env.*.development
.env.*.test
.env.*.production

# Cache de ESLint
.eslintcache

# Cache de Jest
.jest

# Diretório coverage de testes
coverage/
